#
# grutarc.sample
#
# This is a sample configuration file for the Gruta hierarchical notepad.
#

[/~angel/]

datafile: /home/angel/src/custom/dunwich/gruta/home.dat
css: /triptico.css
read_only: 0
set_as_root: 1
root_name: Ángel Ortega
show_url: 1
lock_timeout: 3600

#root_header_text: <<EOF
#<form action='/~angel/penetrator.cgi'>
#<i>Penetrator</i> Search
#<input name=query value=''>
#<input type=submit value='Search'>
#</form>
#EOF

[/~angel/docs/]

datafile: /home/angel/public_html/docs/grutadocs.dat
css: /triptico2.css
read_only: 0
set_as_root: 1
root_name docs.triptico.int
show_url: 0

